:root {
    --mat-sys-primary: #67B2E8;
    --mat-sys-error: red;
    --mat-sys-on-error-container: red;
    --mat-sys-on-surface-variant: #B6B8BA;
    --mat-sys-on-surface: #003D79;

    --mandiri-blue: #003D79;
    --mandiri-yellow: #FFB700;
    --mandiri-skyblue: #67B2E8;
    --mandiri-orange: #EA7200;
    --mandiri-grey: #B6B8BA;
}