:root {
    --mat-sys-primary: #67B2E8;
    --mat-sys-error: red;
    --mat-sys-on-error-container: red;
    --mat-sys-on-surface-variant: #B6B8BA;
    --mat-sys-on-surface: #003D79;

    --default-blue: #003D79;
    --default-yellow: #FFB700;
    --default-skyblue: #67B2E8;
    --default-orange: #EA7200;
    --default-grey: #B6B8BA;

    --p-highlight-focus-color: var(--default-skyblue) !important;
    --p-highlight-color: var(--default-skyblue) !important;
    --p-highlight-focus-background: color-mix(in srgb,var(var(--default-skyblue)),transparent 76%) !important;
    --p-highlight-background: color-mix(in srgb,var(--default-skyblue),transparent 88%) !important;
}

.header-title {
    color: var(--default-blue);
}